<div class="claim">
  <h2>Regístrate en Bremen.io</h2>
  <form action="/auth/signup" method="POST" id="form-container">
    <p class="reel-in">
      El registro es gratuito y te permitirá escribir a otros usuarios para unirte a sus proyectos, crear tus propios
      <br> anuncios y más ventajas.
    </p>
</div>
  <div class="signup">
  <label for="username">Alias</label><br>
  <input id="username" type="text" name="username">
  <br><br>
  <label for="password">Contraseña</label><br>
  <input id="password" type="password" name="password">
  
  <div class="form-group">
    <label for="city">Ciudad</label><br>
    <select name="city" id="city">
      <% city.forEach((city) => { %>
        <option type="text" value="<%= city %>" class="form-control"><%= city %></option>
      <%  }) %>
    </select>
  </div>

  <div class="form-group">
    <label for="main-instr">Instrumento Principal</label><br>
    <select name="mainInstrument" id="instrument">
      <% mainInstrument.forEach((mainInstrument) => { %>
        <option type="text" value="<%= mainInstrument %>" class="form-control"><%= mainInstrument %></option>
      <%  }) %>
    </select>
  </div>

  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>
</div>
  <button class="btn-signup" type="submit">Registrarme</button>
  </form>

  