<a class="btn btn-primary" href="/users/activity">Volver a mi perfil</a>
<a class="btn btn-primary" href="/ad/my-ads">Mis anuncios</a>

<h1>Listado de anuncios</h1>

<form action="/ad/list" method="post"> 
<select name="city" id="city">
  <% city.forEach((city) => { %>
    <option type="text" value="<%= city %>" class="form-control"><%= city %></option>
  <%  }) %>
</select>
<select name="styles" id="styles">
  <% styles.forEach((styles) => { %>
    <option type="text" value="<%= styles %>" class="form-control">
      <%= styles %>
    </option>
    <%  }) %>
</select>
<button type="submit">buscar</button>
</form>

<div id="list">
  <% if (list.length > 0) { %>
    <% list.forEach(function(user) { %>
      <div>
        <h4>
          <%= user.title %>
        </h4>
        <ul>
          <li>Grupo o invidual:
            <%= user.types %>
          </li>

            <%= user.description %>
 
          <li>Estilos :
            <%= user.styles %>
          </li>
          <li>Instrumento Principal:
            <%= user.mainInstrument %>
          </li>
          <li><i>
            <%= user.city %>
          </i>
          </li>
          <li>Audio:
            <%= user.audio %>
          </li>
          <li>Video:
            <%= user.video %>
          </li>
          
        </ul>
      </div>
      <hr>
      <% }) %>
        <% } else { %>
          <div>
            <p>The list is empty</p>
          </div>
          <% } %>
</div>