<h1>Mis anuncios</h1>

<a class="btn btn-primary" href="/users/activity">Volver a mi perfil</a>

<div id="list">
  <% if (list.length > 0) { %>
    <% list.forEach(function(user) { %>
      <div>
        <h4>
          <%= user.title %>
        </h4>
        <ul>
          <li>Tipo de anuncio:
            <%= user.types %>
          </li>
          <li>Descripción:
            <%= user.description %>
          </li>
          <li>Estilos y Etiquetas:
            <%= user.styles %>
          </li>
          <li>Instrumento Principal:
            <%= user.mainInstrument %>
          </li>
          <li>Ciudad:
            <%= user.city %>
          </li>
          <li>Audio:
            <%= user.audio %>
          </li>
          <li>Video:
            <%= user.video %>
          </li>
          
        </ul>
      </div>
      <hr>
      <% }) %>
        <% } else { %>
          <div>
            <p>Todavía no has publicado ningún anuncio.</p>
            <a class="btn btn-primary" href="/ad/new">Crear anuncio</a>
          </div>
          <% } %>
</div>
