<!-- views/ads/nuevoProyecto.ejs -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 centered-form">
      <!-- <form action="/ad/new" method="post" enctype="multipart/form-data"> -->
      <form action="/ad/new" method="post">
        
        <div class="form-group">
          <label for="title">Nombre de tu grupo o Proyecto</label>
          <input type="text" name="title" class="form-control">
        </div>
        
        <div class="form-group">
          <label for="goal">Descripción</label>
          <input type="text" name="goal" class="form-control">
        </div>
        
        
        <div class="form-group">
          <label for="city">Ciudad</label><br>
          <select name="city" id="city">
            <% city.forEach((city) => { %>
              <option type="text" value="<%= city %>" class="form-control"><%= city %></option>
            <%  }) %>
          </select>
        </div>

        <div class="form-group">
          <label for="styles">Estilos y Etiquetas</label><br>
          <select name="styles" id="styles">
            <% styles.forEach((styles) => { %>
              <option type="text" value="<%= styles %>" class="form-control"><%= styles %></option>
            <%  }) %>
          </select>
        </div>

        <div class="form-group">
          <label for="main-instr">Instrumento Principal</label><br>
          <select name="mainInstrument" id="instrument">
            <% mainInstrument.forEach((mainInstrument) => { %>
              <option type="text" value="<%= mainInstrument %>" class="form-control"><%= mainInstrument %></option>
            <%  }) %>
          </select>
        </div>
        
        <div class="form-group">
          <label for="audio">¿Habéis grabado alguna canción?</label>
          <input type="text" name="video" class="form-control">
        </div>
        
        <div class="form-group">
          <label for="video">¿Tenéis videos en directo?</label>
          <input type="text" name="video" class="form-control">
        </div>
        
        <div class="form-group">
          <button type="submit">Crear Anuncios</button>
        </div>
      </form>
    </div>
  </div>
</div>