<!-- ad/show.ejs -->
<div class="container">
  <div class="row">
    <a class="btn btn-primary" href="/users/activity">Volver a mi perfil</a>
    

      <% if(user._id.equals(ad.creator_id._id)) { %>
        <a class="btn btn-primary" href="/ad/<%= ad._id %>/edit">Edita este anuncio</a>

        <a class="btn btn-primary" href="/ad/<%= ad._id %>/delete">Elimina este anuncio</a>

      <% } %>

      
    
<div>
    
      <h1><%= ad.title %></h1>
      By: <strong><%= ad.creator_id.username %></strong>
      <br/>
      <br/>
      <p >Tipo de anuncio: <%= ad.types %></p>
      <p > <%= ad.description %></p>
      <p > <%= ad.city %></p>
      <p > <%= ad.styles %></p>
      <p >Audio: <%= ad.audio %></p>
      <p >Video: <%= ad.video %></p>
   
    </div>

  </div>
</div>