<a href="/">Ir a inicio</a>
<h2>Mi actividad</h2>
<div class="profile">
<strong>Avatar: <%=  user.imgUrl %></strong><br>
<strong>Alias: <%=  user.username %></strong><br>
<!-- <strong>Correo electrónico: <%=  user.email %></strong><br> -->
<strong>Ciudad: <%=  user.city %></strong><br>
<strong>Descripción: <%=  user.description %></strong><br>
<strong>Instrumento principal: <%=  user.mainInstrument %></strong><br>
<strong>Otros instrumentos: <%=  user.otherInstrument %></strong><br>
<strong>Experiencia: <%=  user.experience %></strong><br>
</div>

<a class="btn btn-primary" href="/users/<%= user._id %>/edit">Editar mis datos</a>
<a class="btn btn-primary" href="/ad/new">Crear anuncio</a>
<a class="btn btn-primary" href="/ad/my-ads">Ver mis anuncios</a>
<button type="submit">Mis anuncios</button>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a class="btn btn-primary" href="/users/<%= user._id %>/delete">Eliminar mi perfil</a>


