
<h2>Mi actividad</h2>
<div class="profile">
<h2>Avatar: <%=  user.imgUrl %></h2>
<h2>Nombre de usuario: <%=  user.username %></h2>
<!-- <h2>Correo electrónico: <%=  user.email %></h2> -->
<h2>Ciudad: <%=  user.city %></h2>
<h2>Descripción: <%=  user.description %></h2>
<h2>Instrumento principal: <%=  user.mainInstrument %></h2>
<h2>Otros instrumentos: <%=  user.otherInstrument %></h2>
<h2>Experiencia: <%=  user.experience %></h2>
</div>

<a class="btn btn-primary" href="/users/<%= user._id %>/edit">Editar mis datos</a>
<a class="btn btn-primary" href="/ad/new">Crear anuncio</a>
<button type="submit">Mis anuncios</button>

