
<h2>Edita tus datos</h2>

<h2>Avatar: <%=  user.imgUrl %></h2>
<h2>Nombre de usuario: <%=  user.username %></h2>
<h2>Correo electrónico: <%=  user.email %></h2>
<h2>Ciudad: <%=  user.city %></h2>
<h2>Descripción: <%=  user.description %></h2>
<h2>Instrumento principal: <%=  user.mainInstrument %></h2>
<h2>Otros instrumentos: <%=  user.otherInstrument %></h2>
<h2>Experiencia: <%=  user.experience %></h2>

<a href="<%= user.id %>/edit">Guardar cambios</a>


